{% load comments i18n %}
{% load url from future %}
<h3>{% trans "Tags" %}</h3>
<p>
	{% for tag in object.tags_list %}
	<a href="{% url 'zinnia_tag_detail' tag %}"
		title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
		rel="tag">{{ tag }}</a>
	{% empty %}
	<span>{% trans "No tags" %}</span>
	{% endfor %}
</p>

<h3>{% trans "Short url" %}</h3>
<p>
	<a href="{{ object.short_url }}"
		title="{% blocktrans with object=object.title %}Short URL to {{ object }}{% endblocktrans %}"
		rel="shortlink">{{ object.short_url }}</a>
</p>

<h3>{% trans "Discussions" %}</h3>
<p>
	{% with comment_count=object.comment_count %}
	{% if comment_count %}
	<a href="{{ object.get_absolute_url }}#comments"
		title="{% blocktrans with object=object.title %}Comments on {{ object }}{% endblocktrans %}">
		{% blocktrans count comment_count=comment_count %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}</a>
	{% else %}
	{% if object.comments_are_open %}
	{% trans "No comments yet." %}
	<a href="{{ object.get_absolute_url }}#comment-form"
		title="{% blocktrans with object=object.title %}Leave a comment on {{ object }}{% endblocktrans %}">{% trans "Be first to comment!" %}</a>
	{% else %}
	{% trans "Comments are closed." %}
	{% endif %}
	{% endif %}
	{% endwith %}
	{% with pingback_count=object.pingback_count %}
	{% if pingback_count %}
	, <a href="{{ object.get_absolute_url }}#pingbacks" title="{% blocktrans with object=object.title %}Pingbacks on {{ object }}{% endblocktrans %}">
		{% blocktrans count pingback_count=pingback_count %}{{ pingback_count }} pingback{% plural %}{{ pingback_count }} pingbacks{% endblocktrans %}</a>
	{% endif %}
	{% endwith %}
	{% with trackback_count=object.trackback_count %}
	{% if trackback_count %}
	, <a href="{{ object.get_absolute_url }}#trackbacks" title="{% blocktrans with object=object.title %}Trackbacks on {{ object }}{% endblocktrans %}">
		{% blocktrans count trackback_count=trackback_count %}{{ trackback_count }} trackback{% plural %}{{ trackback_count }} trackbacks{% endblocktrans %}</a>
	{% endif %}
	{% endwith %}
</p>
