{% extends 'sms/base.html' %}

{% block title %}Messages between {{ contact }} and Foad{% endblock %}
{% if smsLen != 0 %}
{% block content %}
	{% if prevLink %}
	<div id="prevPage" class="nav">
		<a href="/sms/{{ prevLink }}">&larr;</a>
	</div>
	{% endif %}
	{% if nextLink %}
	<div id="nextPage" class="nav">
		<a href="/sms/{{ nextLink }}">&rarr;</a>
	</div>
	{% endif %}

	<div id="info">
		<p id="contactNames"><b>{{ contact }} - Foad</b></p>
		<p>{{ smsLen }} Messages</p>
		<p>Show names:</p>
		<div class="slideTwo">	
			<input type="checkbox" value="None" id="slideTwo" name="check" checked="checked" />
			<label for="slideTwo"></label>
		</div>
		<a href="/accounts/logout/"><p><b>Logout</b></p></a>
		<a href="#" id="controls-toggle"><p><b>Controls</b></p></a>
		<div id="controls">
			<p>Messages per page:</p>
			<ul>
<li><a href="/sms/{{ contactURL }}/{{ smsStart }}/50/">50</a></li>
<li><a href="/sms/{{ contactURL }}/{{ smsStart }}/100/">100</a></li>
<li><a href="/sms/{{ contactURL }}/{{ smsStart }}/200/">200</a></li>
<li><a href="/sms/{{ contactURL }}/{{ smsStart }}/500/">500</a></li>
<li><a href="/sms/{{ contactURL }}/1/{{ smsLen }}/">All</a></li>
			</ul>
		</div>
	</div>

	<div id="whole">
	{% for sms in messages %}
		{% if sms.type == '1' %}
		<div id="sms" class="recive">
			<div id="image" class="recive"><img src="{{ STATIC_URL }}sms/{{ contact }}.png" /></div>
			<div id="main" class="recive">
				<h3 id="names">{{ contact }}</h3>
		{% else %}
		<div id="sms" class="send">
			<div id="image" class="send"><img src="{{ STATIC_URL }}sms/Foad.png" /></div>
			<div id="main" class="send">
				<h3 id="names">Foad</h3>
		{% endif %}
				<p>{{ sms.body }}</p>
				<a href="/sms/{{ contactURL }}/{{ sms.index }}/1/" class="date">
					<h6>{{ sms.date }}</h6>
				</a>
			</div>
		</div>
	{% endfor %}
	</div>

{% endblock %}
{% endif %}
