body {
	background-color: #FBF8D3;
}

#whole {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	background-color: PapayaWhip;
	padding: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#whole:hover #sms {
	opacity: 0.3;
}

#sms {
	margin-bottom: 10px;
	border-width: 2px;
	border-style: solid;
	min-height: 100px;
	position: relative;
	border-radius: 5px;
}

#sms:hover {
	position: relative;
	left: -100px;
	opacity: 1 !important;
	width: 750px;
}

#sms:hover p {
	font-size: 20px !important;
}

#sms:hover h3 {
	font-size: 24px !important;
	transition: font 300ms linear;
	-moz-transition: font 300ms linear;
	-webkit-transition: font 300ms linear;
}

#sms:hover h6 {
	font-size: 14px !important;
}

.recive {
	background-color: #FFDAB9;
	border-color: Maroon;
}

.send {
	background-color: #ADD8E6;
	border-color: #4B0082;
}

#image {
	padding-top: 10px;
/*	width: 80px;*/
	height: 80px;
/*	margin-bottom: 20px;*/
}

#image.recive {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

#image.send {
	float: right;
	padding-left: 10px;
	padding-right: 10px;
}

#sms p {
	margin-left: 10px;
	margin-right: 10px;
}

h3 {
	font-size: 19px;
/*	padding-top: 15px;*/
}

.send h3 {
	text-align: right;
}

h6 {
/*	position: relative;
	bottom: 3px;*/
	margin-top: 10px;
	margin-bottom: 0px;
	color: DarkGray;
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
}

.send h6 {
	text-align: right;
}

/*			end of NAVIGATION				*/
/*			INFORMATION						*/

#info {
	opacity: 0.1;
	transition-property : opacity;
	transition-duration : 0.3s;
	position: fixed;
	top: 100px;
	left: 75px;
	background-color: #B4B4B4;
	border-style: solid;
	border-width: 2px;
	border-color: #606060;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 10px 10px 5px #888888;
}

#info:hover {
	opacity: 1;
	transition-property : opacity;
	transition-duration : 0.7s;
}

#info p {
	color:	#606060;
	text-align: center;
}

#info a {
	
	color:	#606060;
	text-align: center;
}

#info a:visited {
	color:	#606060;
	text-align: center;
}

input[type=checkbox] {
	visibility: hidden;
}

/*			end of INFORMATION				*/
/*			INFORMATION > CONTROLS			*/

div#controls {
	display: none;
}

#controls ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

#controls li {
	display: inline;
}

/*			end of INFORMATION > CONTROLS	*/
/*			end of INFORMATION > CONTROLS	*/

.slideTwo {
	width: 80px;
	height: 30px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideTwo:after {
	content: '';
	position: absolute;
	top: 14px;
	left: 14px;
	height: 2px;
	width: 52px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #111;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideTwo label {
	display: block;
	width: 22px;
	height: 22px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 4px;
	z-index: 1;
	left: 4px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideTwo label:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #333;
	left: 6px;
	top: 6px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.slideTwo input[type=checkbox]:checked + label {
	left: 54px;
}

.slideTwo input[type=checkbox]:checked + label:after {
	background: #00bf00;
}

/*			end of NAVIGATION				*/
/*			NAVIGATION						*/

div.nav {
	position: fixed;
	top: 50%;
}

#prevPage {
	left: 30px;
}

#nextPage {
	right: 30px;
}

.nav a:link,
.nav a:visited {
	position: relative;
	text-decoration: none;
	color: gray;
	font-weight: bold;
	font-size: 12em;
	top: -60px;
	text-shadow: 4px 4px #000;
	opacity:0.6;
	transition: opacity 300ms linear;
	-moz-transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
}

.nav a:hover {
	opacity:1;
}
/*			end of NAVIGATION				*/
