{% extends 'base.html' %}
{% block content %}
<h1>About Me</h1>
<p>
	My name is Foad Nosrati Habibi. I was born in Tabriz, Iran on March 28th, 
	1990. I lived in Tabriz till Sep 2008 and study at Madani (SAMPAD) 
	high school.<br />
	Now I'm studing at Tehran Polytechnic (Amirkabir) university for BSc 
	in Pure Mathematics.
</p>

<h2>Contact Info</h2>
<ul>
	<li><b>E-mail</b> - foad.nh at gmail dot com</li>
	<li><b>IRC</b> - Foad_NH on irc.freenode.net</li>
	<li><b>Jabber</b> - foad.nh at gmail dot com</li>
</ul>

<h2>PGP Key</h2>
<p>
	<b>GnuPG Key:</b>
	<a href="http://pgp.mit.edu:11371/pks/lookup?op=get&amp;search=0x38F4AFD6" 
			onclick="window.open(this.href);">1024D/38F4AFD6</a>
</p>
<p><b>Fingerprint:</b> 903A F09E 40A8 C0E9 4E34  14AB 7882 2361 38F4 AFD6</p>
<pre>
	-----BEGIN PGP PUBLIC KEY BLOCK-----
	Version: GnuPG v2.0.9 (GNU/Linux)

	mQGiBEiYcS0RBADLBSaiQzE7StYO6Q2nPsjJSTLSKka5LMu/iK+n1M40VBfWaAdW
	NrqXg9vsbobGM+n97sOk1r/Y8M9CBdN+y6kAaKgnz+o5yOTljoDsrz7l/cty3wj3
	yVcBOXbDRalsLPZHYS3KEZIoqMbNqQ4m/WSmJv7UG/VYKk3K8/pfPry7vwCgz5HA
	MDOQQGBppKr0HwJtv8Hx7IED/0YiTgXgvMA5GiIRyZquCK3ZdrOOarLCtMVlu2Pl
	5+Wrx0lcErv3iL9F4NrNo7eiSfYieW1jHVHA0hsgttIXHPUJ1ElIGimx08ADug2A
	wdixv9PB/vNIhtLoluq/t22na4ILAgkDQ1bA69li3Ydfkxv5ihL617XeqpWUbvKU
	UQ7NBACwkmUrpyCBCF9a7WWQCYZnh+DaC0XoUG3ee9KV/VuFfiHC1/SY5v1vBYdF
	clLWSNf0/LJGQszGJ+X6R35RWVzR7sqKCbmpasLwDFqj2zVyvtJvcGaBboG7Jwzy
	BXgJcZYi/tJ0+i91toUEhfkBrm/Ah8D5WAm+UQYaueC+1uq2GbQ0Rm9hZCBOb3Ny
	YXRpIEhhYmliaSAoZm9hZG5oLm9yZykgPGZvYWQubmhAZ21haWwuY29tPohgBBMR
	AgAgBQJImHEtAhsDBgsJCAcDAgQVAggDBBYCAwECHgECF4AACgkQeIIjYTj0r9aS
	fQCbB1JRIdH0cDVXbOOQa2t8C5Kuw7sAoMhVEBuZpycCAFcIZ7vbyJiWRmcEuQIN
	BEiYcS0QCACYZJWzQos7sBX2Bjh5df+QqMA2BM1F6SaJRgv0OOKV/iqzW+r7zhlG
	0wXki+uc651hLTgxxd6VB33hcRo3IN56TEzRiOaHEjJBVl0gDBZxNDKrEz/OJR+R
	r5oR8d6AaYjc8Ns2LNvwyQEe/jm/dwzeUOlAi5+ibMp+I1n03WBT1grffka3ZZC3
	Z/FgZ9EHazl0qSJ355gx9wWOvJh4T+Ca0/aOnB4AsoLl01+JcRrR4PMw1MUn40nd
	2SYe/+KrQO+HVowPzKYN0r8E0SGPf6RrzmMyBWp3d9vtYS16pYNfvVJxL1sDNWfZ
	Wv89E+SCJ8roJVpQ7jWIfMVx9iOP6H//AAMFB/94kCP9zE7lCWDBqI69GBH7P5iO
	MqaNRfONGC1x/dDw06a2y5auuudfPRytmP40nTqniD1LPIholcaL5PtwSAB31weY
	8E8HAdhVeTPc6oQ2/w5T8eWHfuUYUMhwArRUhMyx2PKSp59s6b7ms+9z4hXj62dH
	/PQxag9xFMOew4tUhTB95gVet9ewDT3p+HDRgoAsw3Xi2ql65Jl5mp8eCFDOLL2C
	MrT4SN7WdGiKMj0WRyUjnlreinKVlm1C/GzMip+nZoKAMzNKcItJbCCHXDxiWuVJ
	tvNu+4GGsbDdePpx4M7crolf0M3jhcQnU1IWZsh1+q7XH24dlyjwB0TxI7ObiEkE
	GBECAAkFAkiYcS0CGwwACgkQeIIjYTj0r9aKcACdEd093E6d9hrdy12vV1IGZ2Nh
	Py8AoI79P/SlUUnUrjeBewpWlfdqlkRI
	=MDeI
	-----END PGP PUBLIC KEY BLOCK-----
</pre>
{% endblock %}
